<table border="1" class="table  table-striped" >
  <thead>
  <tr>
    <th>ID_PRESTAMO</th>
    <th>MONTO</th>
    <th>SALDO</th>
    <th>TIPO</th>
    <th>PERIODOS</th>
    <th>FECHA_DE_CREACION</th>
    <th>ACTUALIZADO</th>
  </tr>
  </thead>

  <tbody><center>
    <td><%=loan.id%></td>
    <td><%=loan.amount%></td>
    <td><%=loan.balance%></td>
    <td><%=loan.tipo%></td>
    <td><%=loan.periods%></td>
    <td><%=loan.created_at%></td>
    <td><%=loan.updated_at%></td>
  </center></tbody>
</table>
