<br><br><br>
<div class="btn-group" role="group">
<center><%= button_to "ADD_EMPLOYEE", new_employee_path, :method => :get ,class: "btn btn-default" %></center>
</div>
<div class="top-menu" >
	<ul class="nav pull-right 	top-menu">
		<li>
				<div class="btn-group" role="group">
					<%= link_to "BACK",menu_path, class: "btn btn-primary btn-lg btn-block" %>
				</div>
		</li>
	</ul>
</div>
<center><table border=1 class="table  table-striped" >
  <thead>
    <th>ID_Afiliado</th>
    <th>Nombre</th>
    <th>Direccion</th>
    <th>Correo_Primario</th>
    <th>Correo_Secundario</th>
    <th>Fecha_Nacimiento</th>
    <th>Fecha_Inicio</th>
    <th>Usuario</th>
    <th>Tipo</th>
    <th>Borrar</th>
  </thead>

  <tbody>
    <%=render @employees %>
  </tbody>

</table></center>
