<div class="btn-group" role="group">
<center><%= button_to "ADD_EMPLOYEE", new_employee_path ,class: "btn btn-default" %></center>
</div>
<br>
<center><table border="5" bordercolor="blue" bordercolorlight=BLUE bordercolordark=RED>
  <thead>
    <th>ID_Afiliado</th>
    <th>Nombre</th>
    <th>Direccion</th>
    <th>Correo_Primario</th>
    <th>Correo_Secundario</th>
    <th>Fecha_Nacimiento</th>
    <th>Fecha_Inicio</th>
    <th>Usuario</th>
    <th>Clave</th>
    <th>Tipo</th>
  </thead>

  <tbody>
    <%=render @employees %>
  </tbody>

</table></center>
