<br><br><br><br>

<center><h1>Bienvenido Administrador<h1>

<div class="btn-group" role="group">
<%= button_to "TABLA EMPLEADOS", employees_path, :method => :get ,class: "btn btn-default" %>
</div>

<div class="btn-group" role="group">
<%= button_to "TABLA CUENTA DE AHORROS", ahorros_path, :method => :get ,class: "btn btn-default" %>
</div>

<div class="btn-group" role="group">
<%= button_to "TABLA CUENTA DE APORTACIONES", aportaciones_path, :method => :get ,class: "btn btn-default" %>
</div>
<br>
<div class="btn-group" role="group">
<%= button_to "AÑADIR EMPLEADO", new_employee_path, :method => :get ,class: "btn btn-default" %>
</div>
</center>
