<br><br><br><h1>EMPLEADO AFILIADO</h1>
<table border="1" class="table  table-striped">
	<thead>
		<tr>
      <th>ID_Afiliado</th>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Correo_Primario</th>
      <th>Correo_Secundario</th>
      <th>Fecha_Nacimiento</th>
      <th>Fecha_Inicio</th>
      <th>Usuario</th>
      <th>Tipo</th>
			<th>Borrar_Empleado</th>
		</tr>
	</thead>
	<tbody>
		<%= render @employee %>
	</tbody>
</table>
<h1>CUENTA AHORROS</h1>
<%= render partial: "employee_saving", locals:{account: @employee.saving} %>
<h1>CUENTA APORTACIONES</h1>
<%= render partial: "employee_saving", locals:{account: @employee.contribution} %>
