<br>
<center><table border="5" bordercolor="blue" bordercolorlight=BLUE bordercolordark=RED>
  <thead>
    <th>ID_CUENTA</th>
    <th>NOMBRE_CLIENTE</th>
    <th>SALDO</th>
    <th>FECHA_DE_CREACION</th>
    <th>ULTIMA FECHA DE MODIFICACION</th>
  </thead>
  <tbody>
    <%=render @savings %>
  </tbody>
</table></center>
