<br><br><br><br>
<div class="top-menu" >
	<ul class="nav pull-right 	top-menu">
		<li>
				<div class="btn-group" role="group">
					<%= link_to "BACK",employees_path, class: "btn btn-primary btn-lg btn-block" %>
				</div>
		</li>
	</ul>
</div>
<center><table border="5" class="table  table-striped">
  <thead>
    <th>ID_CUENTA</th>
    <th>NOMBRE_CLIENTE</th>
    <th>SALDO</th>
    <th>FECHA_DE_CREACION</th>
    <th>ULTIMA FECHA DE MODIFICACION</th>
  </thead>
  <tbody>
    <%=render @savings %>
  </tbody>
</table></center>
