<tr>
  <td><%=contribution.id%></td>
  <td><%=contribution.name%></td>
  <td><%=contribution.balance%></td>
  <td><%=contribution.created_at%></td>
  <td><%=contribution.updated_at%></td>
  <td><%=contribution.employee_id%></td>
</tr>
