<tr>
  <td><%=loan.amount%><td>
  <td><%=loan.balance%><td>
  <td><%=loan.tipo%><td>
  <td><%=loan.periods%><td>
  <td><%=loan.created_at%><td>
  <td><%=loan.updated_at%><td>
  <td><%=loan.employee_id%><td>
</tr>
