<br><br><br>
<div class="btn-group" role="group">
<center><%= button_to "ADD_PAYMENT", new_employee_path, :method => :get ,class: "btn btn-default" %></center>
</div>
<center><table border=1 class="table  table-striped" >
  <thead>
    <th>ID_Prestamo</th>
    <th>Monto</th>
    <th>Saldo</th>
    <th>Tipo</th>
    <th>Periodos</th>
  </thead>

  <tbody>
    <%=render @employees %>
  </tbody>

</table></center>
